@page
@using EX1_OOP.Entities;
@model EX1_OOP.Pages.Product_Home
@{
    ViewData["Title"] = "Product_Home";
}

<h1>@ViewData["Title"]</h1>
    <form method="post">
        <input type="text" name="key" value="@Model.key" placeholder="Searching by name">
    </form>
@if(Model.products != null)
{
<div>
    <a href="/ProductAdd">Add items</a>
    <div>
        <table>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        @foreach(var prd in Model.products)
        {
            <tr>
                <td>@prd.ProductId</td>
                <td>@prd.ProductName</td>
                <td>@prd.ProductPrice</td>
                <td>@prd.CountOfProducts</td>
                <td>
                    <a href="/ProductDelete?ProductId=@prd.ProductId">Delete</a>
                    <a href="/ProductEdit?ProductId=@prd.ProductId">Edit</a>
                </td>
            </tr>
        }
        </table>
    </div>
@if(!string.IsNullOrEmpty(Model.message))
{
    <p>@Model.message</p>
}
</div>
}